<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ran.storage.platform.persist.mysql.node.NodeDAO">
    <resultMap id="NodeMap"           type="com.ran.storage.platform.common.bean.po.node.NodePO">
        <id column="id"                       property="id" />
        <result column="create_time"          property="createTime" />
        <result column="update_time"          property="updateTime" />

        <result column="cluster_id"           property="clusterId" />
        <result column="host"                 property="host" />
        <result column="port"                 property="port" />
        <result column="role"                 property="role" />
    </resultMap>

    <insert id="addAndSetId"
            parameterType="com.ran.storage.platform.common.bean.po.node.NodePO"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO storage_platform_physical_node
            (cluster_id, host, port, role)
        VALUES
            (#{clusterId}, #{host}, #{port}, #{role})
    </insert>
</mapper>